In [1]:
# import pandas
import pandas as pd

In [3]:
# read csv file into dataframe
df = pd.read_csv("resources/cities.csv", index_col=False)
df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,bredasdorp,0,ZA,1526325436,96,-34.53,20.04,59.51,9.31
1,1,vaini,0,IN,1526325695,88,15.34,74.49,74.27,3.71
2,2,hobart,75,AU,1526325360,93,-42.88,147.33,48.20,10.29
3,3,kodiak,75,US,1526320380,57,39.95,-94.76,80.60,3.36
4,4,punta arenas,75,CL,1526324400,74,-53.16,-70.91,37.40,5.82

In [4]:
# convert dataframe to html data
df.to_html('data.html')